<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="DefaultConn" connectionString="Data Source=192.168.2.26;Initial Catalog=GoodMaji_Test;User ID=howard;Password=dqtmwxatvnmm"  providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--Test-->
    <add key="prescourl" value="https://test-cbec.sp88.tw" />
    <add key="prescopass" value="wJlxyJEDMWhmyAKASLcp"/>
    <add key="SFParentId" value="823"/>
    <add key="SFShopId" value="001"/>
    <add key="SFPassword" value="Ie2xGxyR77X0FTObC5Ff"/>
    <!--Live-->
    <!--<add key="prescourl" value="https://cbec.sp88.tw" />
    <add key="prescopass" value="2ttU8T3Ic6JLkMXxRelX"/>-->
  </appSettings>
</configuration>